.container {
  margin: 25% 5%;
}

.container h2 {
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-style: italic;
}

.container p {
  text-align: justify;
  text-align-last: center;
  color: #fff;
}


@media ( 600px <= width <= 992px) {
  .container {
    display: flex;
  }

  .container div {
    margin: 2%;
  }

  .container h2 {
    text-align: left;
  }

  .container p {
    text-align: left;
    text-align-last: left;
  }
}