.container {
  padding-bottom: 30px;
}

.container > div {
  border-bottom: 1px solid #272d2b;
  padding: 20px 0;
}

.container > div:last-child {
  border: none;
}

.iconDiv {
  display: flex;
  justify-content: space-between;
}

.iconDiv div img {
  margin: 5px;
}

.iconDiv a {
  text-decoration: none;
  background-color: #2f3634;
  color: #fff;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
}

.logo {
  width: 20px;
}

.imgStyles  {
  width: 100%;
  object-fit: cover;
}

@media ( 600px <= width <= 992px) {
  .container > div  {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    column-gap: 20px;
  }

  .imgStyles {
    width: 100%;
    height: 100%;
    object-fit: fill;
    padding: 0;
  }

  .container > div div:nth-child(2) h2 {
    margin: 0;
  }

  .container > div div:nth-child(2) p {
    text-align: left;
    text-align-last: left;
  }

  .iconDiv {
    justify-content: unsafe;
  }

  .iconDiv div img {
  margin: 5px 10px;
  }
}