body {
  background-color: black;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  border-bottom: 1px solid #272d2b;
}

h1 {
  font-size: 30px;
  font-style: italic;
}

@media ( 600px <= width <= 992px) {
  h1 {
    font-size: 40px;
  }

  nav {
    font-size: 40px;
  }
}
